* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #ecf0f6;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  width: 600px;
}
.Left {
  background-color: #6442fd;
  padding: 20px;
  width: 50%;
  text-align: center;
}
.intro {
  color: white;
  font-weight: 100;
  font-size: 20px;
}
.stats {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.circle {
  border-radius: 50%;
  color: white;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #4632e9 solid;
  background-color: #4632e9;
}
.result {
  font-size: 15px;
  color: grey;
}
.great {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding-block: 15px;
}
h2 {
  padding-block: 10px;
  color: black;
  padding-inline: 20px;
}
.info {
  color: aliceblue;
  padding-bottom: 20px;
  font-size: 15px;
}

.right {
  padding: 40px;
  width: 50%;
}
h3 {
  font-weight: 600;
  padding-inline: 20px;
  padding-block: 20px;
}
.item {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;

  display: flex;
  justify-content: space-between;
}

.reaction {
  background: #ffe5e5;
  color: #dc9595;
}

.memory {
  background: #fff5cc;
  color: #ecc86f;
}

.verbal {
  background: #d9f5f0;
  color: #7ecab6;
}

.visual {
  background: #e5e9ff;
  color: #8890d3;
}
span {
  color: black;
  padding-left: 70px;
}
button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;

  background: #2d3b59;
  color: white;
  font-size: 16px;

  margin-top: 20px;
}
